.repeat-item {
  display: flex;
  justify-content: center;
}

.repeat-item span {
  width: 80px;
  border: 2px solid black;
  text-align: center;
  padding: 16px;
}

table {
  margin: 0 auto;
}

td,
th {
  width: 40px;
  text-align: center;
  padding: 16px;
}

th {
  border: 2px solid burlywood;
  background: burlywood;
}

td {
  border: 2px solid burlywood;
  background: aliceblue;
}

.line-break {
  height: 20px;
}
h2 {
  display: flex;
  justify-content: center;
}
